@model IEnumerable<Product>


<body>
   <!--DachBoard-->
    


<div class="container mt-4">


    <!-- Search Form -->
    <div class="search-container mb-4 text-center">
            <form method="get" action="@Url.Action("GetByName", "Home")" class="form-inline justify-content-center">
            <input type="text" name="search" class="form-control mr-2" placeholder="Search for products..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Product Grid -->
        <!-- Carousel Start -->
        <div class="container-fluid mb-3">
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#header-carousel" data-slide-to="1"></li>
                            <li data-target="#header-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item position-relative active" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" src="/images/mljmy-Jc.jpeg" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">decoration product</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">the digital and Coding in the Language of the age</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item position-relative" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" src="/images/xnwxJeRz.jpeg" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Handmade Product</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">sample and very good in use this product</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item position-relative" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" src="/images/scented candles.jpeg" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Art </h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Art you and any think</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-offer mb-30" style="height: 200px;">
                        <img class="img-fluid" src="/images/Quiet beauty 💗✨.jpeg" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Save 20%</h6>
                            <h3 class="text-white mb-3">Special Offer</h3>
                            <a href="" class="btn btn-primary">Shop Now</a>
                        </div>
                    </div>
                    <div class="product-offer mb-30" style="height: 200px;">
                        <img class="img-fluid" src="/images/macrama.jpeg" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Save 20%</h6>
                            <h3 class="text-white mb-3">Special Offer</h3>
                            <a href="" class="btn btn-primary">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-5">
            <div class="row px-xl-5 pb-3">
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                        <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-3">
                    <!-- Product Image -->
                        <div class="product-img position-relative overflow-hidden" style="height:50vh">
                        <img class="img-fluid w-100 h-100" src="@product.ImageUrl" alt="@product.Name" />
                        
                        <div class="product-action">
                            <!-- Action Buttons (shopping cart, wishlist, etc.) -->
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("AddToCart", "Cart", new { id = product.ID })">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("AddToWishlist", "Wishlist", new { id = product.ID })">
                                <i class="far fa-heart"></i>
                            </a>
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("Compare", "Product", new { id = product.ID })">
                                <i class="fa fa-sync-alt"></i>
                            </a>
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("Details", "Home", new { id = product.ID })">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Product Details -->
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="@Url.Action("Details", "Home", new { id = product.ID })">
                            @product.Name
                        </a>
                        <p class="product-price">@product.Price.ToString("C")</p>
                        <p class="user-name">@product.User.Name</p>
                        </div>
                      
                        <!-- Product Rating (can be dynamic if needed) -->
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            @*  <small>(@product.RatingCount)</small> *@ 
                        </div>
                    </div>
                </div>
            
        }
    </div>
</div>
</body>